#main{
    font-family: Georgia,"Courier New",Verdana ,serif;
    font-size: 18px;
    color:red;
    background-color: #ccc;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#image{
    width: auto;
    height:auto;
}
#img-div{
    object-fit: fill;
}