#main {
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
  background-color: #bbb;
  display: flex;
}
div {
  display: block;
}
#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  font-family: serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-img {
  width: 100px;
  height: 100px;
}
#nav-bar {
  width: 100%;
  height: auto;
}
ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
li{
  list-style-type: none;
}
.nav-link {
  width: 100px;
  height: 100px;
  margin: 30px;
}
#container {
  padding-top: 7em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  
}
