#main {
  font-family: sans-serif;
  font-size: 15px;
  position: relative;
  background-color: #bbb;
  display: flex;
}

#header {
  position: fixed;
  top: 0;
  min-height: 75px;
  opacity: 1;
  padding: 0px 20px;
  font-family: serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-img {
  width: 100px;
  height: 100px;
}
#nav-bar {
  width: 100%;
  height: auto;
}
ul{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
li{
  list-style-type: none;
}
.nav-link {
  width: 100px;
  height: 100px;
  margin: 30px;
}
#container {
  padding-top: 7em;
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr ;
  grid-template-rows: auto;
  grid-template-areas: 
  ". iframe . form"
  ". details details ."
  ". products products products";
  
}
#video-frame{
  grid-area: iframe;
}
#myForm{
  grid-area: form;
}
.products{
  grid-area: products;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#details{
  grid-area: details;
}
